# SQLite3

> "La libreria sqlite3 implementa una interfaz compatible de Python a SQLite, una base de datos relacional en proceso. SQLite está diseñada para integrarse en aplicaciones, a diferencia de MySQL, PostgreSQL u Oracle es rápida, rigurosamente probada y flexible, lo que la hace adecuada para crear prototipos y despliegue de producción para algunas aplicaciones."

In [1]:
import sqlite3
import os

## SQlite en acción

Para extraer información se usar SQLite, esto para estar inmersos en el mundo de la información, limpieza y transformaciones que podrian hacerse usando lenguajes de programación como en este caso Python


A continuacion se vera como crear una base de datos y una tabla.

Antes de comenzar habra que considerar estos puntos importantes:

1. Para correr este script se necesita tener instalado SQLite no necesariamente el DB Browser pero ayudara de guia rapida
2. El proposito de este notebook es mostrar como  hacer la conexion a una base de datos, crear una tabla e insertar registros por linea de comando y por diferentes archivos
3. Se puede usar diferentes metodos para leer, insertar y cargar datos a la base de datos, por facilidad se sigue uno propio

In [2]:
name_db = 'DataBase_Friends.db'
try:
    con = sqlite3.connect(os.getcwd() + '\\Database\\' + name_db )
    print('Conexión satisfactoria') # Crea la base de datos si no existe
except:
    print('Ocurrio un error')

Conexión satisfactoria

In [3]:
con

In [4]:
con.close() #No olvidemos cerrar la conexion a la base de datos

## Creando una tabla dentro de nuestra base de datos

Crearemos una tabla en nuestra base de datos por comodidad crearemos una funcion que inicie la conexión

In [5]:
def SQL_conexion(path):
    try:
        con = sqlite3.connect(path)
        cur = con.cursor()
        print('Conexión satisfactoria')
    except:
        con,cur = 0,1
        print('Ocurrio un error, volver a intentar o verificar ruta')
    return con,cur

In [6]:
path_db = os.getcwd() + '\\Database\\' + name_db
con,cur = SQL_conexion(path = path_db)

Conexión satisfactoria

In [7]:
try:
    con.execute("""CREATE TABLE "Friends"
        (
        "ID" INTEGER NOT NULL,
        "Nombres" TEXT NOT NULL,
        "Apellidos" TEXT,
        "Edad" INTEGER,
        PRIMARY KEY("ID"));
                """)
    print('Se creo correctamente la tabla')
except:
    
    print('Error al crear la tabla')

Se creo correctamente la tabla

Accedamos a los registros de la tabla. Aunque sabemos que debera estar vacia

In [8]:
for renglon in cur.execute('SELECT * FROM Friends'):
    print(renglon)

### Insertando un nuevo registro

Insertando nuevos registros a nuestra base de datos

In [9]:
try:
    con.execute("""INSERT INTO Friends("ID","Nombres","Apellidos","Edad")
                VALUES (?,?,?,?)""",(1,"Daniel","Juarez",23))
    #comentando
    con.commit()
    print('Registro insertado correctamente')
except:
    print('No se pudo insertar registro')

Registro insertado correctamente

Leyendo de nuevo la base de datos

In [10]:
for renglon in cur.execute('SELECT * FROM Friends'):
    print(renglon)

(1, 'Daniel', 'Juarez', 23)

### Insertando nuevos registros

Anexando varios registros a la vez

In [11]:
try:
    data_to_add = [(2, "Daniel","Guerrero",23),
                   (3, "Alfredo","Avendaño",33),
                   (4, "Gerardo","Brito",26),
                   (5, "Polo","",25)]

    con.executemany("""INSERT INTO Friends("ID","Nombres","Apellidos","Edad")
                VALUES (?,?,?,?)""",data_to_add)
    #comentando
    con.commit()
    print('Registros insertados correctamente')
except:
    print('No se pudo insertar registro')

Registros insertados correctamente

Leyendo de nuevo la base de datos

In [12]:
for renglon in cur.execute('SELECT * FROM Friends'):
    print(renglon)

(1, 'Daniel', 'Juarez', 23)
(2, 'Daniel', 'Guerrero', 23)
(3, 'Alfredo', 'Avendaño', 33)
(4, 'Gerardo', 'Brito', 26)
(5, 'Polo', '', 25)

## Agregando registros de un archivo csv

Veamos los registros que se tienen en el archivo **Friends_toAdd.csv**

In [13]:
import csv
f = open(os.getcwd()+'\Database\Friends_toAdd.csv')
reader_csv = csv.reader(f)

for row_csv in reader_csv:
    print(row_csv)

['id_amigo', 'nombres', 'apellidos', 'edad']
['6', 'Antonio', 'Serrano Vaaldez', '25']
['7', 'Luis', 'Rodriguez', '26']
['8', 'Luis Armando', ' Ballesteros', '36']
['9', 'Gustavo', '', '46']
['10', 'Jared', 'Garcia', '250']
['11', 'Carlos', 'Balbuena', '26']
['12', 'Pablo', 'Sanchez', '27']
['13', 'Luis', 'Rodriguez', '26']
['14', 'Leon', 'Scott', '27']
['15', 'Chris', 'Redfield', '35']
['16', 'Claire', 'Redfield', '29']
['17', 'Scott', 'Adkins', '35']

In [14]:
f = open(os.getcwd()+'\Database\Friends_toAdd.csv')
reader_csv = csv.reader(f)
header = 0
for row_csv in reader_csv:
    if header == 0:
        print("Lectura de header")
        header = 1
    else:
        try:
            print(row_csv[0],row_csv[1],row_csv[2],row_csv[3])
            con.execute("""INSERT INTO Friends("ID","Nombres","Apellidos","Edad")
                        VALUES (?,?,?,?)""",(row_csv[0],row_csv[1],row_csv[2],row_csv[3]))
            con.commit()
            print('Registro insertado correctamente')
        except Exception as e:
            print(e)

Lectura de header
6 Antonio Serrano Vaaldez 25
Registro insertado correctamente
7 Luis Rodriguez 26
Registro insertado correctamente
8 Luis Armando  Ballesteros 36
Registro insertado correctamente
9 Gustavo  46
Registro insertado correctamente
10 Jared Garcia 250
Registro insertado correctamente
11 Carlos Balbuena 26
Registro insertado correctamente
12 Pablo Sanchez 27
Registro insertado correctamente
13 Luis Rodriguez 26
Registro insertado correctamente
14 Leon Scott 27
Registro insertado correctamente
15 Chris Redfield 35
Registro insertado correctamente
16 Claire Redfield 29
Registro insertado correctamente
17 Scott Adkins 35
Registro insertado correctamente

Verifiquemos los registros agregados

In [15]:
for renglon in cur.execute('SELECT * FROM Friends'):
    print(renglon)

(1, 'Daniel', 'Juarez', 23)
(2, 'Daniel', 'Guerrero', 23)
(3, 'Alfredo', 'Avendaño', 33)
(4, 'Gerardo', 'Brito', 26)
(5, 'Polo', '', 25)
(6, 'Antonio', 'Serrano Vaaldez', 25)
(7, 'Luis', 'Rodriguez', 26)
(8, 'Luis Armando', ' Ballesteros', 36)
(9, 'Gustavo', '', 46)
(10, 'Jared', 'Garcia', 250)
(11, 'Carlos', 'Balbuena', 26)
(12, 'Pablo', 'Sanchez', 27)
(13, 'Luis', 'Rodriguez', 26)
(14, 'Leon', 'Scott', 27)
(15, 'Chris', 'Redfield', 35)
(16, 'Claire', 'Redfield', 29)
(17, 'Scott', 'Adkins', 35)

### Múltiples consultas

In [16]:
# Consultando registros cuyos nombres empiecen con A

for renglon in cur.execute('''SELECT * FROM Friends WHERE "Nombres" LIKE 'l%' '''):
    print(renglon)

(7, 'Luis', 'Rodriguez', 26)
(8, 'Luis Armando', ' Ballesteros', 36)
(13, 'Luis', 'Rodriguez', 26)
(14, 'Leon', 'Scott', 27)

In [17]:
# Consultando registros cuya edad sea menor o igual a 25 años

for renglon in cur.execute('''SELECT * FROM Friends WHERE "Edad" <= 25 '''):
    print(renglon)

(1, 'Daniel', 'Juarez', 23)
(2, 'Daniel', 'Guerrero', 23)
(5, 'Polo', '', 25)
(6, 'Antonio', 'Serrano Vaaldez', 25)

In [18]:
# Consultando registros cuya edad sea menor o igual a 25 años, y ORDENANDO por edad

for renglon in cur.execute('''SELECT * FROM Friends WHERE "Edad" <= 25 ORDER BY "Edad" '''):
    print(renglon)

(1, 'Daniel', 'Juarez', 23)
(2, 'Daniel', 'Guerrero', 23)
(5, 'Polo', '', 25)
(6, 'Antonio', 'Serrano Vaaldez', 25)

In [19]:
# Consultando registros cuya edad sea mayor a 29 años, y ORDENANDO por edad y depsues por apellido

for renglon in cur.execute('''SELECT * FROM Friends WHERE "Edad" > 29 ORDER BY "Edad" ASC, "Apellidos" DESC '''):
    print(renglon)

(3, 'Alfredo', 'Avendaño', 33)
(15, 'Chris', 'Redfield', 35)
(17, 'Scott', 'Adkins', 35)
(8, 'Luis Armando', ' Ballesteros', 36)
(9, 'Gustavo', '', 46)
(10, 'Jared', 'Garcia', 250)

In [20]:
# Mostrando el id, nombre, apellidos y el nombre completo de todos los registros en la tabla

for renglon in cur.execute('''SELECT "ID","Nombres","Apellidos","Nombres" || " " || "Apellidos" AS "Nombre completo"
                              FROM Friends '''):
    print(renglon)

(1, 'Daniel', 'Juarez', 'Daniel Juarez')
(2, 'Daniel', 'Guerrero', 'Daniel Guerrero')
(3, 'Alfredo', 'Avendaño', 'Alfredo Avendaño')
(4, 'Gerardo', 'Brito', 'Gerardo Brito')
(5, 'Polo', '', 'Polo ')
(6, 'Antonio', 'Serrano Vaaldez', 'Antonio Serrano Vaaldez')
(7, 'Luis', 'Rodriguez', 'Luis Rodriguez')
(8, 'Luis Armando', ' Ballesteros', 'Luis Armando  Ballesteros')
(9, 'Gustavo', '', 'Gustavo ')
(10, 'Jared', 'Garcia', 'Jared Garcia')
(11, 'Carlos', 'Balbuena', 'Carlos Balbuena')
(12, 'Pablo', 'Sanchez', 'Pablo Sanchez')
(13, 'Luis', 'Rodriguez', 'Luis Rodriguez')
(14, 'Leon', 'Scott', 'Leon Scott')
(15, 'Chris', 'Redfield', 'Chris Redfield')
(16, 'Claire', 'Redfield', 'Claire Redfield')
(17, 'Scott', 'Adkins', 'Scott Adkins')

### Actualizando registros

Notemos que en nuestra tabla Friends tenemos el apellido de Antonio mal escrito es decir se tiene "Vaaldez" en vez de "Valdez" y cuya edad es de 24 años, para corregir esto se ocupa la sentencia "update"

In [21]:
con.execute("""UPDATE Friends
               SET "Apellidos" = "Serrano Valdez", "Edad" = 24
               WHERE "ID" = 6 """)
#comentando
con.commit()

In [22]:
# Viendo el cambio

for renglon in cur.execute('SELECT * FROM Friends'):
    print(renglon)

(1, 'Daniel', 'Juarez', 23)
(2, 'Daniel', 'Guerrero', 23)
(3, 'Alfredo', 'Avendaño', 33)
(4, 'Gerardo', 'Brito', 26)
(5, 'Polo', '', 25)
(6, 'Antonio', 'Serrano Valdez', 24)
(7, 'Luis', 'Rodriguez', 26)
(8, 'Luis Armando', ' Ballesteros', 36)
(9, 'Gustavo', '', 46)
(10, 'Jared', 'Garcia', 250)
(11, 'Carlos', 'Balbuena', 26)
(12, 'Pablo', 'Sanchez', 27)
(13, 'Luis', 'Rodriguez', 26)
(14, 'Leon', 'Scott', 27)
(15, 'Chris', 'Redfield', 35)
(16, 'Claire', 'Redfield', 29)
(17, 'Scott', 'Adkins', 35)

### Eliminando registros

El registro numero 5 es erroneo se procedera a eliminar

In [23]:
con.execute("""DELETE
               FROM Friends 
               WHERE "ID" = 5""")
#comentando
con.commit()

In [24]:
# Veamos el cambio

for renglon in cur.execute('SELECT * FROM Friends'):
    print(renglon)

(1, 'Daniel', 'Juarez', 23)
(2, 'Daniel', 'Guerrero', 23)
(3, 'Alfredo', 'Avendaño', 33)
(4, 'Gerardo', 'Brito', 26)
(6, 'Antonio', 'Serrano Valdez', 24)
(7, 'Luis', 'Rodriguez', 26)
(8, 'Luis Armando', ' Ballesteros', 36)
(9, 'Gustavo', '', 46)
(10, 'Jared', 'Garcia', 250)
(11, 'Carlos', 'Balbuena', 26)
(12, 'Pablo', 'Sanchez', 27)
(13, 'Luis', 'Rodriguez', 26)
(14, 'Leon', 'Scott', 27)
(15, 'Chris', 'Redfield', 35)
(16, 'Claire', 'Redfield', 29)
(17, 'Scott', 'Adkins', 35)

Veamos registros donde el Apellido este vacio

In [25]:
for renglon in cur.execute('''SELECT * 
                              FROM Friends
                              WHERE "Apellidos" == '' '''):
    print(renglon)

(9, 'Gustavo', '', 46)

In [26]:
con.close() # No olvidemos cerrar la conexion

## Leyendo con Pandas (Una forma más sencilla)

In [27]:
import pandas as pd

con = sqlite3.connect(os.getcwd() + '\\Database\\' + name_db)

df_friends = pd.read_sql_query("""SELECT *, "Nombres" || " " || "Apellidos" AS "Nombre completo"
                                  FROM Friends""", con)

display(df_friends)

con.close() #Cerramos la conexion

    ID       Nombres       Apellidos  Edad            Nombre completo
0    1        Daniel          Juarez    23              Daniel Juarez
1    2        Daniel        Guerrero    23            Daniel Guerrero
2    3       Alfredo        Avendaño    33           Alfredo Avendaño
3    4       Gerardo           Brito    26              Gerardo Brito
4    6       Antonio  Serrano Valdez    24     Antonio Serrano Valdez
5    7          Luis       Rodriguez    26             Luis Rodriguez
6    8  Luis Armando     Ballesteros    36  Luis Armando  Ballesteros
7    9       Gustavo                    46                   Gustavo
8   10         Jared          Garcia   250               Jared Garcia
9   11        Carlos        Balbuena    26            Carlos Balbuena
10  12         Pablo         Sanchez    27              Pablo Sanchez
11  13          Luis       Rodriguez    26             Luis Rodriguez
12  14          Leon           Scott    27                 Leon Scott
13  15         Chris        Redfield    35             Chris Redfield
14  16        Claire        Redfield    29            Claire Redfield
15  17         Scott          Adkins    35               Scott Adkins